<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.vesdroid"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="10"
        android:maxSdkVersion="19" />
    
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.app.vesdroid.Activities.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
            <intent-filter
		    	android:icon="@drawable/ic_launcher"
		        android:label="@string/app_name"
		    	android:priority='1'>
			    <action android:name="android.intent.action.VIEW" />
			    <category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="*/*" />  
			    <data android:pathPattern="*.vesprot" />
			    <data android:pathPattern="*.vesproj" />
			    <data android:pathPattern="*.vesprof" />
			</intent-filter>
        </activity>
        
        <activity android:name="com.app.vesdroid.Activities.EditPicketActivity" android:windowSoftInputMode="adjustResize"/>
        <activity android:name="com.app.vesdroid.Activities.EditProfileActivity" android:windowSoftInputMode="adjustResize"/>
        <activity android:name="com.app.vesdroid.Activities.EditProjectActivity" android:windowSoftInputMode="adjustResize"/>
        <activity android:name="com.app.vesdroid.Activities.EditProtocolActivity" android:windowSoftInputMode="adjustResize"/>
        <activity android:name="com.app.vesdroid.Activities.PicketViewActivity" android:windowSoftInputMode="adjustResize"/>
        <activity android:name="com.app.vesdroid.Activities.ProjectsActivity" android:windowSoftInputMode="adjustResize"/>
        <activity android:name="com.app.vesdroid.Activities.ProtocolsActivity" android:windowSoftInputMode="adjustResize"/>
        <activity android:name="com.app.vesdroid.Activities.ProtocolViewActivity" android:windowSoftInputMode="adjustResize"/>
        <activity android:name="com.app.vesdroid.Activities.WorkActivity" android:windowSoftInputMode="adjustResize"/>
    </application>

</manifest>
